.profile-pic img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.img-btn {
    /* border-color: #209CEE; */
    background-color: transparent;
    border-radius: 50px;
    font-size: 15px;
    color: rgb(73, 73, 73);
    padding: 5px 15px;
    /* margin: 20px; */
    border: solid 3px;
}

.img-btn:hover {
    color: white;
    background-color: rgb(73, 73, 73);
}

.img-input {
    border-radius: 50px;
    border: rgba(0, 0, 0, 0.3) solid;
    font-size: 15px;
    padding: 5px 15px;
    /* margin: 5px 0; */
    width: 150px;
}

.img-btn2 {
    border-color: #209CEE;
    background-color: #209CEE;
    border-radius: 50px;
    font-size: 15px;
    color: white;
    padding: 5px 15px;
    /* margin: 20px; */
    border: solid 3px;
}

/* .signIn-form input, .register-form input {
    border-radius: 50px;
    border: rgba(0, 0, 0, 0.3) solid;
    font-size: 20px;
    padding: 15px 30px;
    margin: 5px 0;
    width: 225px;
}

.signIn-form button, .register-form button {
    align-self: flex-start center;
    border-color: #209CEE;
    background-color: #209CEE;
    border-radius: 50px;
    font-size: 25px;
    color: white;
    padding: 15px 50px;
    margin: 20px;
    border: solid 3px;
} 

.signIn-form button:hover, .register-form button:hover {
    background-color: white;
    color: #209CEE
} */