.profile-pic img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 0;
}

.img-btn {
    /* border-color: #209CEE; */
    background-color: transparent;
    border-radius: 50px;
    font-size: 15px;
    color: rgb(73, 73, 73);
    padding: 5px 15px;
    /* margin: 20px; */
    border: solid 3px;
}

.img-btn:hover {
    color: white;
    background-color: rgb(73, 73, 73);
}

.img-input {
    border-radius: 50px;
    border: rgba(0, 0, 0, 0.3) solid;
    font-size: 15px;
    padding: 5px 15px;
    /* margin: 5px 0; */
    width: 150px;
}

.img-btn2 {
    border-color: #209CEE;
    background-color: #209CEE;
    border-radius: 50px;
    font-size: 15px;
    color: white;
    padding: 5px 15px;
    /* margin: 20px; */
    border: solid 3px;
}

.profile-middle-bar {
    width: 1.5px;
    height: 90%;
    background-color: black;
    margin-right: 50px;
}


.profile {
    display: flex;
}



.profile-screen {
    display: flex;
    margin-top: 30px;
    min-height: 100vh;
    width: 100%;
}

.pro-margin { 
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.update-btn form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.update-img-div {
    margin: 15px 0;
}

.submit-snap-btn {
    /* border-color: #209CEE; */
    background-color: #209CEE;
    border-radius: 50px;
    font-size: 18px;
    color: white;
    padding: 8px 15px;
    margin: 20px 0;
    border: solid 3px;
}

.submit-snap-btn:hover {
    background-color: white;
    color: #209CEE
}

.graphs-div {
    margin-bottom: 50px;
}

.total-title {
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
}


/* .signIn-form input, .register-form input {
    border-radius: 50px;
    border: rgba(0, 0, 0, 0.3) solid;
    font-size: 20px;
    padding: 15px 30px;
    margin: 5px 0;
    width: 225px;
}

.signIn-form button, .register-form button {
    align-self: flex-start center;
    border-color: #209CEE;
    background-color: #209CEE;
    border-radius: 50px;
    font-size: 25px;
    color: white;
    padding: 15px 50px;
    margin: 20px;
    border: solid 3px;
} 

.signIn-form button:hover, .register-form button:hover {
    background-color: white;
    color: #209CEE
} */