.home-profile-pic img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin: 10px 0;
}

.home-profile-pic img:hover {
    cursor: pointer;
}

.middle-bar {
    width: 1.5px;
    height: 90%;
    background-color: black;
    margin-right: 50px;
}

.home {
    display: flex;

}

.home-feed {
   
}

.home-screen {
    display: flex;
    margin-top: 30px;
    min-height: 100vh;
    width: 100%;
}

.margin {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}