
header {
    display: flex;
    flex-direction: row;
    padding: 0 60px;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: sticky; top: 0;
    z-index: 999;
}

.header-wrapper {
    position: sticky; 
top: 0;
z-index: 999;
background-color: white;
}

/* position: sticky; 
top: 0;
z-index: 999; */

header button {
    border: none;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    margin: 0 15px;
    cursor: pointer;
}

header button:hover {
    color: gray;
}

h1 {
    font-size: 40px;
    font-weight: normal;
    color: black;
}

.header-line {
    height: 1px;
    width: 95%;
    background-color: black;
    align-self: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 4.5px;
}
.header-wrapper {
    display: flex;
    flex-direction: column;
}

Header * {
    text-decoration: none;
}

.hidden {
    display: none;
}